@model Aroma

@{
    ViewData["Title"] = "Detalji o aromi";
}

<div class="container mt-5">
    <div class="card aroma-details shadow-lg border-0 rounded-4">
        <div class="card-header text-center text-white bg-info rounded-top-4">
            <h3 class="fw-bold mb-0">@Model.Ime</h3>
        </div>

        <div class="card-body text-center">
            <img src="@Model.SlikaURL" alt="@Model.Ime" class="aroma-details-img mb-3" />
            <p class="lead text-muted">@Model.Opis</p>
        </div>

        <div class="card-footer bg-light text-center border-0 pb-3">
            <a class="btn btn-outline-secondary me-2" asp-action="Index">
                <i class="bi bi-arrow-left"></i> Nazad na listu
            </a>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
            {
                <a class="btn btn-success text-white" asp-action="Edit" asp-route-id="@Model.Id">
                    <i class="bi bi-pencil"></i> Izmeni
                </a>
            }
        </div>
    </div>
</div>


@section Scripts {

    <script>

        $(document).ready(function(){
        var output = document.getElementById('SlikaPreview');
        output.src = $("#SlikaURL").val();
        })

    </script>
}
